body {
  background-color: #fff;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inputLogin {
  margin-top: 12px;
  max-width: 60%;
}

.catForm {
  margin-top: 12px;
}

.login {
  padding-top: 10%;
}

.loginBtn {
  margin-top: 12px;
}

.bannerImg {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.btnHover {
  background-color: #496989;
  border: none;
}

.btnHover:hover {
  background-color: #ffc22f;
  scale: 1.05;
}

.sideBar {
  margin-top: 12px;
}

.catGallery {
  margin-top: 36px;
}

.cat-item {
  position: relative;
  background-color: #496989;
  margin-bottom: 16px;
  display: flex;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 11;
}

.cat-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

@media only screen and (min-width: 1024px) {
  .cat-item-lg {
    margin-bottom: 16px;
    height: 500px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .cat-item-sm {
    margin-bottom: 16px;
    height: 500px;
    width: 100%;
  }
}

.cat-image {
  margin-top: 12px;
  max-height: 150px;
}

.cat-banner-img {
  width: auto;
  height: 100%;
}

.uploadImage {
  margin-top: 12px;
  width: 100%;
  max-height: 200px;
}

.editIcon {
  color: #fb8501;
  font-size: 32px;
}

.deleteIcon {
  color: crimson;
  font-size: 36px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: small;
}

.r10 {
  border-radius: 10px;
}

.top-mar-6 {
  margin-top: 6px;
}

.right-mar-6 {
  margin-right: 6px;
}

.light-blue-text {
  color: #8ec9e7;
}

.blue-text {
  color: #219ebc;
}

.dark-blue-text {
  color: #033047;
}

.black-text {
  color: black;
}

.dark-grey-text {
  color: #828282;
}

.white-text {
  color: white;
}

.light-orange-text {
  color: #fed36d;
}

.orange-text {
  color: #ffb703;
}

.dark-orange-text {
  color: #fb8501;
}

.light-blue-bg {
  background-color: #8ec9e7;
}

.blue-bg {
  background-color: #219ebc;
}

.dark-blue-bg {
  background-color: #033047;
}

.black-bg {
  background-color: black;
}

.light-orange-bg {
  background-color: #fed36d;
}

.orange-bg {
  background-color: #ffc22f;
}

.dark-orange-bg {
  background-color: #ff8400;
}

input[type="radio"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 60%;
  outline: none;
  margin-right: 30px; /* Adjust spacing between radio buttons */
  margin-left: 10px;
}
