body {
  background-color: #e2f4c5;
}

.inputLogin {
  margin-top: 12px;
  max-width: 60%;
}

.catForm {
  margin-top: 12px;
}

.login {
  padding-top: 10%;
}

.loginBtn {
  margin-top: 12px;
}

.bannerImg {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.btnHover:hover {
  background-color: #58a399;
}

.sideBar {
  margin-top: 12px;
}

.catGallery {
  margin-top: 36px;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
} */

.cat-list {
  position: relative;
  z-index: 1;
}

.cat-item {
  position: relative;
  background-color: #496989;
  margin-bottom: 16px;
  display: flex;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 11;
}

.cat-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

@media only screen and (min-width: 1024px) {
  .cat-item-lg {
    height: 30vh;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .cat-item-sm {
    height: 50vh;
    width: 100%;
  }
}

.cat-image {
  margin-top: 12px;
  max-height: 150px;
}

.uploadImage {
  margin-top: 12px;
  width: 100%;
  max-height: 200px;
}

.editIcon {
  color: gold;
  font-size: 32px;
}

.deleteIcon {
  font-size: 36px;
  color: crimson;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: small;
}

.r10 {
  border-radius: 10px;
}

.top-mar-6 {
  margin-top: 6px;
}

.right-mar-6 {
  margin-right: 6px;
}

.light-green-text {
  color: #e2f4c5;
}

.green-text {
  color: #a8cd9f;
}

.dark-green-text {
  color: #58a399;
}

.dark-blue-text {
  color: #496989;
}

.black-text {
  color: black;
}

.dark-grey-text {
  color: #828282;
}

.white-text {
  color: white;
}

.light-green-bg {
  background-color: #e2f4c5;
}

.green-bg {
  background-color: #a8cd9f;
}

.dark-green-bg {
  background-color: #58a399;
}

.dark-blue-bg {
  background-color: #496989;
}

.black-bg {
  background-color: black;
}
